<div layout="column" ng-cloak>
  <img src="./assets/imgs/HardinessZoneMap.jpg" alt="Hardiness Zones Map" />

  <section class="" layout-padding>
    <md-toolbar layout="row" class="md-toolbar md-primary inner-toolbar">
      <div class="md-toolbar-tools">
        <h2>Choose Hardiness Zone </h2>
        <md-button class="md-icon-button" aria-label="What's a hardiness zone?">
          <md-tooltip md-direction="right">What's a hardiness zone?</md-tooltip>
          <md-icon md-svg-icon="info" ng-click="$ctrl.hardinessInfo()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <fieldset class="" >
      <legend class="">Check each zone from which you would like to plant</legend>
      <div layout="row" flex layout-wrap>
        <div flex-xs flex="100">
          <md-checkbox aria-label="Select All"
                       ng-checked="$ctrl.isChecked($ctrl.selected)"
                       md-indeterminate="$ctrl.isIndeterminate()"
                       ng-click="$ctrl.toggleAll()">
            <span ng-if="$ctrl.isChecked($ctrl.selected)">Un-</span>Select All
          </md-checkbox>
        </div>
        <div class="" flex="20" ng-repeat="zone in $ctrl.zones">
          <md-checkbox ng-checked="$ctrl.exists(zone, $ctrl.selected)" ng-click="$ctrl.toggle(zone, $ctrl.selected)">
               {{zone}}
          </md-checkbox>
        </div>
      </div>
      <md-button ng-disabled="$ctrl.noneSelected($ctrl.selected)" ng-click="console.log()" ng-href="#!/pickPlants" class="md-raised md-accent">Pick Plants
      </md-button>
    </fieldset>
    </h3>
  </section>
-->
</div>
