<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Big Harvest: Ang 1.5</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body flex="100" layout="column" ng-controller="RootController as root" ng-cloak>

  <header viewshown="root.devShown" subtitle="root.page" lockul="root.showUserList"></header>

  <!--Development View: turn off ng-if to deactivate-->

  <fieldset layout="row" ng-if="root.devShown">
    <legend class="">Dev View</legend>
    <h4>root.page :  {{root.page}} </h4>
    <h4>root.devShown :  {{root.devShown}} </h4>
    <h4>root.userPlants : <span ng-repeat="plant in root.userPlants track by $index"> {{plant.name}}, </span> </h4>
  </fieldset>
  <div class="" flex layout="row">
    <md-content flex>
      <div  ng-view class="">
      </div>
    </md-content>
    <md-sidenav class="md-sidenav-right" md-is-locked-open="root.showUserList" md-component-id="right"
                ng-click="" class="md-whiteframe-4dp">
      <userlist plants=root.userPlants></userlist>
    </md-sidenav>
  </div>


<script src="./jspm_packages/system.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>
<script type="text/javascript">
  System
      .import('src/boot/boot')
      .catch( console.error.bind(console) ); // make sure any errors print to console
</script>

</body>
</html>
