[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #feffef;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
img{
  width: 100%;
  height: 100%;
  //border-radius: 50%;
}
.md-content{
  background-color: rgba(254, 255, 239, 1);
}
